@media (max-width: 1210px) {
    .additionalСontent {
        display: none !important;
    }
}

.additionalСontent {
    position: relative;
    display: flex;
    width: calc(100%/3);
    height: 100vh;
    z-index: 1;
}

.additionalWrap {
    width: 100%;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

.listenOnWrap,
.presenterWrap,
.topDonationWrap,
.lastTrackWrap {
    display: flex;
    justify-content: end;
    width: 100%;
}

.listenOn,
.presenter,
.topDonation,
.lastTrack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(44, 11, 58, 0.4);
    margin-top: 10px;
    border-radius: 10px;
    width: 420px;
    padding: 5px;
    color: rgba(255, 255, 255, 0.7);
}

.listenOn p:first-child,
.presenter p:first-child,
.lastTrack p:first-child {
    font-size: 20px;
}

.listenOnButtonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.2s;
    margin-top: 10px;
}

.buttonYoutubeMusicWrap,
.buttonYandexMusicWrap,
.buttonAppleMusicWrap {
    text-align: center;
    opacity: 1;
    width: 130px;
    height: 50px;
    margin: 0px auto;
    transition: width .5s;
}

/* Скрываем кнопки в блоке "Слушайте в" */
.buttonAppleMusicWrap--hide,
.buttonYoutubeMusicWrap--hide,
.buttonYandexMusicWrap--hide {
    overflow: hidden;
    width: 0px;
    margin: 0px;
}


.presenter-block {
    display: flex;
    width: 100%;
    height: 105px;
    padding: 0 10px;
    overflow-x: auto;
}

.presenter-block::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.presenter-block::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

.presenter-block::-webkit-scrollbar-track {
    background-color: rgba(44, 11, 58, 0.8);
    border-radius: 10px;
}

.presenter-block::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

.presenterOnAir {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: larger;
}

.presenterPhotoWrap {
    height: 75px;
    width: 75px;
}

.presenterPhotoWrap img {
    height: 75px;
    width: 75px;
    border-radius: 10px;
}

.presenterName {
    margin-left: 10px;
}

.topDonation {
    background-color: rgba(25, 25, 25, 0.7);
    height: 150px;
}

.topDonationHeaderWrap {
    display: flex;
}

.topDonationHeaderWrap img {
    margin-right: 10px;
}

.topDonationHeaderWrap p {
    display: inline;
    color: rgba(245, 156, 7, 1);
    font-size: 20px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.topDonation-block {
    height: 120px;
}

.lastTrackWrap {
    margin-bottom: 10px;
    height: 100%;
    overflow: hidden;
}

.lastTrack-block {
    height: 100%;
    overflow: auto;
}

.lastTrack-block div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
}

.lastTrack-block p {
    margin: 0;
    padding: 0 10px;
    font-size: larger;
}

.lastTrack-block img {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

.lastTrack-block::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.lastTrack-block::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

.lastTrack-block::-webkit-scrollbar-track {
    background-color: rgba(44, 11, 58, 0.8);
    border-radius: 10px;
}

.lastTrack-block::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}