@media (max-width: 900px) {
  .chat-wrapper {
    display: none !important;
  }
}

.chat-wrapper {
  position: relative;
  color: aliceblue;
  width: calc(100% / 3);
  height: 100vh;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.messageBlock {
  overflow-y: scroll;
  padding: 5px;
  height: 100%;
}

.messageBlock::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.messageBlock p {
  display: inline;
}

.buttonRepleyWrap {
  width: 15px;
  height: 15px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonRepley {
  width: 12px;
}

.messageWarp {
  display: flex;
  max-width: 95%;
}

.messageDateWrap {
  width: 100%;
}

.messageDate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(44, 11, 58, 0.4);
  color: #fede6d;
  margin-top: 15px;
  margin-bottom: 5px;
  border-radius: 10px;
  width: 95%;
  padding: 5px;
}

.message {
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(44, 11, 58, 0.4);
  margin-top: 10px;
  border-radius: 10px;
  max-width: 100%;
  padding: 5px;
}

.messageDonat {
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(25, 25, 25, 0.7);
  margin-top: 10px;
  border-radius: 10px;
  max-width: 100%;
  padding: 5px;
}

.username {
  display: inline;
  color: #fede6d;
  margin-bottom: 5px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 8px;
  margin-right: 8px;
}

.usernameDonat {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-right: 8px;
}

.usernameDonat img {

}

.username p {
  font-size: 15px;
}

.messageTextMessage {
  display: inline-flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
}
.messageTextMessage p {
  display: inline;
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.messageTextMessageDonat {
  display: inline-flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
}
.messageTextMessageDonat p {
  display: inline;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.messageTextBot {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.amount {
  color: rgba(245, 125, 7, 1) !important;
}

.messageTextBot p {
  display: inline;
  color: rgba(245, 156, 7, 1);
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.photoMessageWrap {
  display: inline-block;
}

.photoMessage {
  max-width: 100%;
  max-height: 500px;
  border-radius: 10px;
}

.messageBottom {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 15px;
  color: #fede6d;
}
.timeMessage {
  width: 35px;
}

.photoReplyWrap {
  max-height: 50px;
  max-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5px;
  margin-right: 5px;
}

.photoReply {
  height: 100%;
}
.replyWrap {
  display: flex;
  justify-content: space-between;
  background-color: rgba(79, 117, 253, 30%);
  padding-right: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}
.replyTrait {
  height: 50px;
  width: 3px;
  background-color: #fafafa;
  margin-right: 5px;
  border-radius: 5px;
}

.reply {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.replyMessageTextMessage {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.replyUsername {
  display: inline;
  color: #fede6d;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Подвал блока ЧАТ */
.chat-footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 5px;
}

/* Поле для ввода нового сообщения с кнопкой emoji и "Отправить" */
.chat-send-message {
  background-color: rgba(42, 20, 50, 40%);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat-send-message-bottom {
  display: flex;
}

.replySendWrap{
  padding: 5px;
}

.deleteReplyWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0 5px;
}
.replyContent {
  display: flex;
  width: 95%;
}

.deleteReply {
  width: 15px;
  height: 15px;
}

.chat-send-message * {
  box-sizing: border-box;
}

/* Редактируемый div для ввода сообщения */
.input-block {
  min-height: 30px;
  max-height: 150px;
  text-wrap: wrap;
  color: rgba(255, 255, 255, 70%);
  font-size: 18px;
  overflow-y: scroll;
  padding: 5px;
  flex-grow: 1;
}
.input-block::-webkit-scrollbar {
  width: 0;
}

.input-block:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

/* Создание placeholder*/
.input-block[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: rgba(255, 255, 255, 70%);
  display: inline-block;
}

/* Кнопки в поле для нового сообщения */
.chat-btns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.emoji-btn, .send-btn, .addFile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  padding: 0px 3px;
}

.emoji-btn:hover, .send-btn:hover, .addFile-btn:hover, .buttonRepleyWrap:hover, .buttonAppleMusic:hover, .buttonDonat:hover, .deleteReplyWrap:hover {
  cursor: pointer;
}

.addFile-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 19px;
  margin-left: 5px;
}

.addFile-btn img {
  height: 22px;
  width: 19px;
}

.send-btn .emoji-btn {
  margin-right: 5px;
}

.buttonAppleMusic {
  width: 130px;
  height: 50px;
  transition: 1s;
  opacity: 0;
}

.buttonDonat {
  width: 130px;
  height: 50px;
}

.buttonChatFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  margin-top: 10px;
}

.emojiMenuList {
  display: revert;
  max-height: 250px;
  border-radius: 10px;
  overflow-y: scroll;
}

.emojiMenuList::-webkit-scrollbar {
  width: 0;
}

.emojiMenuList td {
font-size: 25px;
}

.emojiMenuList td:hover {
  background-color: rgba(217, 217, 217, 50%);
  cursor: pointer;
}

.newMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #4C5B98;
}

.newMessage img {
  width: 15px;
  height: 21px;
}
