body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    padding: 0;
    color: #fafafa;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #2a2a2a;
    height: 150px;
    z-index: 100;
}

.search-form {
    display: flex;
    align-items: center;
    margin-top: 50px; /* Добавлен отступ сверху */
    justify-content: center;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button, .get-selected-button, .back-button {
    margin-left: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: #ccc;
}

.get-selected-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
}

.track-list {
    margin-top: 150px;
    margin-bottom: 60px;
    flex: 1;
    overflow-x: auto; /* Добавлено для горизонтальной прокрутки, если таблица не помещается */
}

table {
    width: 100%;
    border-collapse: collapse; /* Объединение границ ячеек */
    background-color: #2a2a2a;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc; /* Граница ячеек */
    text-align: center;
}

th {
    background-color: #333;
    color: #fafafa;
    font-weight: bold;
}

.track-player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    height: 60px;
}

#player {
    width: 100%;
}

#player::-webkit-media-controls-enclosure {
    background-color: #ccc;
    border-radius: 0;
}

.play-button {
    cursor: pointer;
    color: #007bff;
}
